.formContainer {
    margin-bottom: 20px;
  }
  
  .label {
    margin-right: 10px;
  }
  
  .inputField {
    padding: 5px;
    margin-right: 10px;
  }
  
  .addButton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  